/* 头部标题高度设置 */
.headtext{
    margin-top: 150px;
    margin-left:400px ;
}

.spantext{
    font-size: 30px;
    color: black;
}

/* 水平线设置 */
.levelser{
margin-left: 400px;
margin-bottom: 30px;
margin-top: 30px;
width: 700px;
border: 1px;
border-style:solid;
border: color rgb(126, 119, 119);
}

.headtext-two{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left :400px;
    font-size: 25px;
    /* font-weight: 700; */
    color: royalblue;
}
/* 头部文本文字样式3 */
.headtext-three{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left :400px;
    line-height: 30px;
}

/* 表格位置 */
.tablelocation{
    border-collapse: collapse; 
    margin-left: 400px;
    width: 49%;
    line-height: 30px;
}
/* border-collapse: collapse;  表格实现单线显示 */


/* 表格文字样式1 */
.tabletext{
    padding-left: 35px;
    background-color: #fffaf0;
}