<!doctype html>
<html lang="zh-CN">

<head>
  <!-- 必须的 meta 标签 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap的引用 -->
  <link rel="stylesheet" href="/bootstrap-4.3.1/dist/css/bootstrap.css">

  <title>bootstrap-注册页</title>
  <link rel="stylesheet" type="" href="/static/css/profile.css">
  <link rel="stylesheet" type="" href="/static/css/register.css">

  <!-- bootstrap 样式覆盖 -->
  <link rel="stylesheet" type="" href="/static/bootstr-css/bor-register.css">


  <!-- vue 引用 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
  <header style="background-color:#eee;">
    <div class="main-container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img src="/img/link-1.png"
            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="导航图片">
          <a class="navbar-brand top-slogan1 " href="#">一起帮</a>
          <a class="navbar-brand top-slogan2  " href="#">网络互助平台</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto ">

              <li class="nav-item dropdown mr-1">
                <a class="nav-link dropdown-toggle nav-text " href="#" id="navbarDropdownMenuLink" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  未登录
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown mr-1 ">
                <a class="nav-link dropdown-toggle nav-text " href="#" id="navbarDropdownMenuLink" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  文章
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown mr-1 ">
                <a class="nav-link dropdown-toggle nav-text " href="#" id="navbarDropdownMenuLink" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  督促
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown mr-1 ">
                <a class="nav-link dropdown-toggle nav-text" href="#" id="navbarDropdownMenuLink" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  求助
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>

            </ul>
          </div>

        </div>
      </nav>
    </div>
  </header>

  <main>

    <div class="main-container">
      <div class="top-hint-container">
        
        <span class="top-new-hint">
          <img style="margin-bottom: 3px;" src="/img/PersonalDa3.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
          ADO.NET入门：Connection/Comm...被uao打赏 帮帮币 1枚
           </span>
        <a class="top-hint-gather">
          <img style="margin-bottom: 3px;" src="/img/PersonalD4a.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
          全部消息</a>
      </div>

      <div style="border-bottom: 2px solid #eee;">
        <img style="display: block; float: left; margin: 15px 16px;" src="/img/register1.png"
          class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
        <h1 style="line-height: 2;" class="main-head"> 用户注册</h1>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2">
        </div>


        <!-- <div style="margin-left: 1.5%;" class="col-lg-4 ">
            <form>

                <div style="width: 75%;" class="main-content-container">

                    
                    <div class="main-invite-container">

        

                        <div style="margin-left: 4%; margin-top: 2%;"  class="form-auto ">
                            <a style="display: flex; justify-content: flex-end; margin-right: 4%; margin-top: 3%; color: rgb(115, 115, 189);">
                                <img src="/img/log2.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                                为什么需要邀请人
                            </a>
                            <label class="main-input-title" style="display: block;;">邀请人：（* 必填，没有邀请人）</label>
                            <label class="sr-only" for="inlineFormInput"></label>
                            <input type="text" class="form-control mb-2 form-control-a " id="inlineFormInput" placeholder="他的用户名，模糊查询只能从头开始！">
                          </div>
    
                          
                          <div  style="margin-left: 4%;" class="form-group">
                            <label class="main-input-title" style="display: block;;">邀请码：（* 必填）</label>
                            <label for="inputPassword2" class="sr-only"> 不要少于四个字符吧</label>
                            <input type="password" class="form-control form-control-a " id="inputPassword2" placeholder="四个数字吧">
                          </div>    
                    </div>
    
                    

                    <div class="form-auto">
                        <label class="main-input-title" style="display: block;;">用户名：（* 必填)</label>
                        <label class="sr-only" for="inlineFormInput"></label>
                        <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="登录用户名可修改不可重复！">
                      </div>

                      
                      <div class="form-group">
                        <label class="main-input-title" style="display: block;;">密码：（* 必填）</label>
                        <label for="inputPassword2" class="sr-only">求你了 不要少于四个字符吧</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="求你了 不要少于四个字符吧">
                      </div>

                      <div class="form-group">
                        <label class="main-input-title" style="display: block;;">验证密码：（* 必填）</label>
                        <label for="inputPassword2" class="sr-only">求你了 不要少于四个字符吧</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="同密码相同">
                      </div>

                      
                      <div class="form-group" >
                        <label class="main-input-title" style="display: block;">验证码：（* 必填）</label>
                        <label for="inputPassword2" class="sr-only"></label>
                        <input type="password" class="form-control log-input-a"  id="inputPassword2" placeholder="Password" >
                      </div>

                      
                      
                      <div class="form-group form-check">
                        <button  type="submit" class="btn btn-primary">提交</button>
                        <button style="margin-right: 38px;" type="reset" class="btn btn-primary">重置</button>
                        <a href="/Log/btr-login.html"> 
                            <label class="main-log-link">
                                <img src="/img/log3.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                                登录
                            </label>
                        </a>

                      
                        
                      </div>

                      <div style="width: 5px; height: 40px;">

                      </div>


                </div>

            </form>
        </div> -->

        <div style="margin-left: 1.5%;" class="col-lg-4 ">
          <form id="form-bind">

              <div style="width: 75%;" class="main-content-container">

                  
                  <div class="main-invite-container">


                      <div style="margin-left: 4%; margin-top: 2%;"  class="form-auto ">
                          <a style="display: flex; justify-content: flex-end; margin-right: 4%; margin-top: 3%; color: rgb(115, 115, 189);">
                              <img src="/img/log2.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                              为什么需要邀请人
                          </a>
                          <label class="main-input-title" style="display: block;;">邀请人：（* 必填，没有邀请人）</label>
                          <label class="sr-only" for="inlineFormInput"></label>
                          <input type="text" v-model="invitename"  class="form-control mb-2 form-control-a " id="inlineFormInput" placeholder="他的用户名，模糊查询只能从头开始！ ">
                        </div>
  
                        
                        <div  style="margin-left: 4%;" class="form-group">
                          <label class="main-input-title" style="display: block;;">邀请码：（* 必填）</label>
                          <label for="inputPassword2" class="sr-only"> 不要少于四个字符吧</label>
                          <input type="text" v-model.number="invitnumber"   class="form-control form-control-a " id="inputPassword2" placeholder="四个数字吧">
                        </div>    
                  </div>
  
                  

                  <div class="form-auto">
                      <label class="main-input-title" style="display: block;;">用户名：（* 必填)</label>
                      <label class="sr-only" for="inlineFormInput"></label>
                      <input type="text"  v-on:blur="require" v-model="uesrname"   class="form-control mb-2" id="inlineFormInput">
                      <span v-if="error">*登录用户名可修改不可重复！</span>
                      
                    </div>

                    
                    <div class="form-group">
                      <label class="main-input-title" style="display: block;;">密码：（* 必填）</label>
                      <label for="inputPassword2" class="sr-only">不要少于四个字符吧</label>
                      <input type="password" v-model="uesrpassword"   class="form-control" id="inputPassword2" placeholder="不要少于四个字符吧">
                    </div>

                    <div class="form-group">
                      <label class="main-input-title" style="display: block;;">验证密码：（* 必填）</label>
                      <label for="inputPassword2" class="sr-only"> 不要少于四个字符吧</label>
                      <input type="password"  v-model="verifypassword"   class="form-control" id="inputPassword2" placeholder="同密码相同">
                    </div>

                    
                    <div class="form-group" >
                      <label class="main-input-title" style="display: block;">验证码：（* 必填）</label>
                      <label for="inputPassword2" class="sr-only"></label>
                      <input type="text" v-model="verifycont"   class="form-control log-input-a"  id="inputPassword2" placeholder="Password" >
                    </div>

                    
                    
                    <div class="form-group form-check">
                      <button  type="submit" class="btn btn-primary">提交</button>
                      <button style="margin-right: 38px;" type="reset" class="btn btn-primary">重置</button>
                      <a href="/Log/btr-login.html"> 
                          <label class="main-log-link">
                              <img src="/img/log3.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                              登录
                          </label>
                      </a>

                    
                      
                    </div>

                    <div style="width: 5px; height: 40px;">

                    </div>


              </div>

          </form>
      </div>
        
        <div class="col-lg-3 ">
          <div style="margin-top: 4%; position:absolute" class="main-log-explain">

            <h3 style="font-size: 23px; color: #31708f;">
              <img style="margin-bottom: 4px;"; src="/img/PersonalDa2.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
              说明
            </h3>
            <p class="main-explain-content">1. 我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。</p>
            <p class="main-explain-content">2. 现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？。</p>
            <p class="main-explain-content">3. 当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。。</p>
            <p class="main-explain-content">4. 公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。。</p>
            <p class="main-explain-content">5. 赶快加入我们，赚取帮帮币吧！。</p>
          </div>
        </div>


        <div class="col-lg-2">
          <div style="position: relative; left: 45px; top: 75px; background-color: aquamarine; width: 35px; height: 55px; text-align: center;" class="img-thumbnail"  >
            <a>
              <img src="/img/help-.png" class="img-thumbnail" alt="...">
              联系
            </a>
          </div>
          <div style="position: relative; left: 45px; top: 93px; background-color: aquamarine; width: 35px; height: 55px; text-align: center;" class="img-thumbnail"  >
            <a>
              <img src="/img/help-2.png" class="img-thumbnail" alt="...">
              反馈
            </a>
          </div>
        </div>
      

    </div>
    
  </main>


  <footer>
    <div style="border-top: 1px solid #eee;" class="container">
      <div    class="row">
        <div  class="col">
          <div class="foote-nav-container">
            <a class="foote-nav-link">关于我们 | </a>
            <a class="foote-nav-link">源栈课堂 | </a>
            <a class="foote-nav-link">常见问题 | </a>
            <a class="foote-nav-link">意见建议 | </a>
            <a class="foote-nav-link">历史通知 | </a>
            <a class="foote-nav-link">友情捐赠 | </a>
            <a class="foote-nav-link">诚邀合伙人</a>
            <p class="foote-nav-siteinfo">渝ICP备18007191号（备案）© 2021 - 自由飞
              <img src="/img/zif.png">
            </p>
          </div>

        </div>
      </div>
    </div>
  </footer>

</body>
<script src="/vue/vue-register.js"></script>
</html>