<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系方式页面</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="" href="/static/css/base.css">
    <link rel="stylesheet" type="" href="/static/css/contact.css">

    <!-- vue 引用 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body class="base-body">

    <header>
        <div class="top-nav-container">

            <div class="top-slogan-container ">
                <a class="top-slogan1">一起帮</a>
                <a class="top-slogan2">网络互助平台</a>
            </div>

            <div class="top-classify-container">
                <ul class="top-nav-ul-classify">
                    <li class="top-nav-li-classify">求助</li>
                    <li class="top-nav-li-classify">督察</li>
                    <li class="top-nav-li-classify">文章</li>
                    <li class="top-nav-li-classify">求助</li>
                </ul>
            </div>
        </div>

        <div class="top-hint-container"> 
            <span class="top-new-hint">ADO.NET入门：Connection/Comm...被uao打赏  帮帮币 1枚 </span>
            <a class="top-hint-gather">全部消息</a>
        </div>

        
        <div class="top-return-container">
            <a class="top-return">返回</a>
        </div>
    </header>
    
    <main>
        <div class="main-container">
            <h1 class="main-head"> 修改联系方式</h1>
            <hr>
            <div class="main-log-container">
                
                <form id="form-bind">
                    <div class="main-log-from">
                        <label class="main-log-label" style="display: block;">QQ:</label>
                        <input    v-model="QQ"   class="main-log-input" type="text" name="item-QQ" value="2086177597"/>
                        <label  class="main-log-label" style="display: block;">微信：</label>
                        <input       v-model="phone"   class="main-log-input" type="text" name="item-Wechat" placeholder="建议填写"/>
                        <label class="main-log-label" style="display: block;">电话：</label>
                        <input   v-model="phone"   class="main-log-input" type="text" name="item-Phone" placeholder="慎重考虑是否填写"/>
                        <label class="main-log-label" style="display: block;">其他：</label>
                        <textarea    v-model="hint"    style="width: 360px; height: 80px; font-size: 12px;" name="Contactexplain" placeholder="需要说明的情况，比如加QQ时验证问题的回答，否则别人加不了，这就尴尬了。 以及你能够接受的其他联系方式……"></textarea>

                        <br/>
                        <input class="main-log-submit"  type="reset"  name="user-reset" value="修改"/>
                        <a class="main-alter-hint">成功激活之后自动返回之前的页面</a>
                    </div>
                </form>
                    
                
                <div class="main-log-explain">
                    <h3 style="font-size: 23px; color: #31708f;">说明</h3>
                    <p class="main-explain-content">1. 因为联系方式会公开显示，我们不建议你填写电话号码，以免个人信息被泄露。。</p>
                    <p class="main-explain-content">2. 所以我们推荐使用QQ/微信等网络通信方式。。</p>
                    <p class="main-explain-content">3. 注意填写QQ作为联系方式时，不要忘了留下“添加好友”的验证条件。</p>
                </div>
                
            </div>

            <hr/>

            <footer>
                <div class="foote-nav-container">
                    <a class="foote-nav-link">关于我们 | </a>
                    <a class="foote-nav-link">源栈课堂 | </a>
                    <a class="foote-nav-link">常见问题 | </a>
                    <a class="foote-nav-link">意见建议 | </a>
                    <a class="foote-nav-link">历史通知 | </a>
                    <a class="foote-nav-link">友情捐赠 | </a>
                    <a class="foote-nav-link">诚邀合伙人</a>

                    <p class="foote-nav-siteinfo">渝ICP备18007191号（备案）© 2021 - 自由飞</p>

                </div>
            </footer>

        </div>

    </main>
</body>
    <script src="/vue/vue-contact.js"></script>
</html>