
/* head nav 头部导航 样式修改  */

/* 背景色 */
.bg-light {
    background-color: #eee !important;
  }
  
  /* 导航默认高度 */
  .navbar{
    height: 55px;
  }
  
  /* 导航分类间距 */
  .mr-1, .mx-1 {
    margin-right: 2.25rem !important;
  }
  
  /* 导航文字样式 */
  .nav-text{
    font-size: 14px;
    font-weight: 500;
  }
  
  /* 导航文字间距 */
  .navbar-brand {
    margin-left: 1rem;
  }
  
  /* 顶部 标语 1 */
  .top-slogan1 {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* 顶部 标语 2 */
  .top-slogan2{
    margin-left: 10px;
    font-size: 14px;
  }
  
  /* 输入框样式 */
  
  .input-group{
    width: 50%;
  }
  
  .btn-secondary {
    color:black;
    background-color: white;
    border-color: white;
  }

  /* 输入框 位置 */
  .col-auto {
      padding: left 0px; 
}
  
/* 提交按钮位置 */
.form-check{
    padding-left: 0em;
}

/* 输入框宽度 */
.form-control {
    height: calc(1.5em + 0.75rem + 9px);
}

/* 输入框宽度 */
.log-input-a {
    width: 20%;
}

/* 登录跳转文字 */
.main-log-link {
    display: block;
    float: right;
    font-size: 10px;
    margin-top: 9px;
    margin-right: 26px;
    color: #337ab7;
}

/* 单选框位置 */
.form-check-input {
    position: absolute;
    margin-top: 0.6rem;
    margin-left: -1.25rem;
}