<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mine 我的消息</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>
<body>

    <div  id="yz-hello" >
        <input  type="checkbox" v-model="allCheckbox" v-on:click="allfun" > 全选 
        <label v-for="s of students">
            <input  type="checkbox" :value="s.id" v-model="s.enrolled" />{{s.name}}
        </label>
    </div>

    <form  style="margin: auto;">  
        <div id="select-Rendering" style=" border: 1px solid red;"  >
            <label>广告位获取</label><br />
            <select v-model="selectedId" v-on:blur="selectHint" >   <!--selectHint 选择提示 -->
            <option value="0" >---</option>
            <option v-for="s of students" :value="s.id" >{{s.name}}</option>
            </select>
            <br>
            <label><input type="checkbox" v-on:click="chengeInput" id="isamend" v-model = "isCheckbox"/>修改</label><br/>  <!--hintSet 提示修改 -->
            <label>文字内容必填:(*)<input ref="slagon"  type="text" name="istext" disabled = "true"  ></label><br />
        </div>
    </form>


    <form  style="margin: auto;">  
        <div id="select-Relevance" style=" border: 1px solid red;"  >
            <span>{{Custom}}</span>
            <span id="showStair"></span>
            <span id="showTwo"></span>
            <br>
            <label>姓名</label>
            <select v-model="selectedId" v-on:blur = "showStairfun">   
            <option value="0" >---</option>
            <option  v-for="s of students" :value="s.id" >{{s.name}}</option>
            </select>
            <label >信息</label>
            <select id='selectTwoid' v-on:click="selectHint"  v-on:blur = "showTwohintFun" >  
                <option value="0" >---</option>
                <option ref="nonull" v-for = "s of  showTwoselect()">{{s}}</option>
            </select>
            <input type="text" v-model="Custom"> 
          

        </div>
    </form>

    <!-- stair 一级 -->
    <!-- Custom 自定义 -->
    

</body>
<script src="/vue/vue-Mine.js"></script>
</html>